<div class="mx-20">
    <div class="mt-6">
        <app-header></app-header>
    </div>
    
    <div class="mt-6">
        <app-filter></app-filter>
    </div>
    
    
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 justify-items-center sm:justify-items-stretch gap-5 mx-5 mt-5">
        <app-card card-id="1"></app-card>
        <app-card card-id="2"></app-card>
        <app-card card-id="3"></app-card>
        <app-card card-id="4"></app-card>
        <app-card card-id="5"></app-card>
        <app-card card-id="6"></app-card>
        <app-card card-id="7"></app-card>
        <app-card card-id="8"></app-card>
    </div>

    <app-bottom-nav class="md:hidden"></app-bottom-nav>
</div>