<div class="group max-w-[34rem]">
  <div class="relative">
    <swiper-container 
    class="bg-red-400 overflow-hidden rounded-lg card-id-{{this.id}}"
    init="false">
      <swiper-slide><img src="https://miro.medium.com/v2/0*ZjYSm_q36J4KChdn" class="object-cover size-full"></swiper-slide>
      <swiper-slide>Slide 2</swiper-slide>
      <swiper-slide>Slide 3</swiper-slide>
      <swiper-slide>Slide 4</swiper-slide>
      <swiper-slide>Slide 5</swiper-slide>
      <swiper-slide>Slide 6</swiper-slide>
      <swiper-slide>Slide 7</swiper-slide>
      <swiper-slide>Slide 8</swiper-slide>
      <swiper-slide>Slide 9</swiper-slide>
    </swiper-container>
    <button class="btn-swiper swiper-button-prev invisible group-hover:visible absolute top-1/2 translate-y-[-50%] z-10 ml-2 swiper-btn-prev-{{this.id}}"></button>
    <button class="btn-swiper swiper-button-next invisible group-hover:visible absolute top-1/2 translate-y-[-50%] right-0 z-10 mr-2 swiper-btn-next-{{this.id}}"></button>
  </div>

  <div class="mx-1">
    <div class="flex justify-between items-end">
      <p class="font-semibold text-lg">Casa en la playa</p>
      <div>
        <p>5 estrellas</p>
      </div>
    </div>
    
    <p class="font-light">A 28 kilometros de distancia</p>
    <p class="font-semibold">$800</p>
  </div>
</div>
