<div>
    <h3 class="font-semibold text-2xl">Lo que este lugar ofrece</h3>
    
    <div class="flex gap-2 items-center mt-6">
        <div class="h-8 w-8 bg-gray-500 rounded-full"></div>
        <p class="text-lg">Wifi</p>
    </div>
    <div class="flex gap-2 items-center mt-6">
        <div class="h-8 w-8 bg-gray-500 rounded-full"></div>
        <p class="text-lg">Acceso a la playa - Frente a la playa</p>
    </div>

    <div class="rounded-xl border border-black p-4 bg-gray-100 inline-block mt-10">
        <p class="font-semibold">Mostrar los 10 servicios</p>
    </div>
</div>